body{
    background-size: cover;
}
.heading{
    font-size:20px;
    width: 100%;
    margin:0px;
}
#start, #number_of_objects, #status{
    font-size: 18px;
    color:black;
    width: 20%;
}
#copy_right_footer{
    position: fixed;
    bottom:0px;
    width: 100%;
    color: rgb(1, 25, 1);
    background-color: blanchedalmond;
    line-height: 2;
    text-align: center;
}
canvas{
    border:3px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 6px grey;
    margin-top:150px;
}